{% extends "base.html" %}
{% block title %}Create Announcement{% endblock %}
{% block content %}
<style>
    iframe {
        width: 100%;
    }
    .mb-3 input[type="text"],
    .mb-3 input[type="date"] {
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
</style>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card mt-2">
                <div class="card-header  bg-primary text-white">
                    <h1 class="text-center">Create Announcement</h1>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.title.label_tag }}
                            {{ form.title }}
                        </div>
                        <div class="mb-3" >
                            {{ form.content.label_tag }}
                            {{ form.content }}
                        </div>
                        <div class="mb-3">
                            {{ form.expiration_date.label_tag }}
                            {{ form.expiration_date }}
                        </div>
                        <button type="submit" class="btn btn-primary">Create Announcement</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
