{% extends "base.html" %}
{% block title %}Submit Answer{% endblock %}
{% block content %}
<style>
    iframe {
        width: 100%;
    }
    .mb-3 input[type="text"],
    .mb-3 input[type="date"] {
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
</style>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card mt-2">
                <div class="card-header  bg-primary text-white">
                    <h1 class="text-center">Submit Assignment</h1>
                </div>
                <div class="card-body">
                    <p class="header">{{assignment.title}}</p>
                    <p>{{ assignment.description | safe }}</p>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.answer_text.label_tag }}
                            {{ form.answer_text }}
                        </div>
                        {% if answer_read_only %}
                            <p style="font-style:italic;
                            color: slategrey;
                            margin-top: -2%;">Assignment already evaluvated</p>
                        {% else %}
                            <button type="submit" class="btn btn-primary" [disabled]="{{answer_read_only}}">Submit</button>
                        {% endif %}
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
